<h1>Add new book</h1>
<form
  [formGroup]="bookForm"
  (ngSubmit)="
    add(
      bookForm.value.title.value,
      bookForm.value.author.value,
      bookForm.value.publication.value
    )
  "
  class="add-new-form"
>
  <mat-form-field class="add-new-full-width">
    <input
      matInput
      [formControl]="titleFormControl"
      [errorStateMatcher]="matcher"
      #title
      maxlength="256"
      placeholder="Title"
    />
    <mat-error align="start" *ngIf="titleFormControl.hasError('required')">
      Title is <strong>required</strong>
    </mat-error>
    <mat-hint align="end">{{ title.value.length }} / 256</mat-hint>
  </mat-form-field>
  <mat-form-field class="add-new-full-width">
    <input
      matInput
      [formControl]="authorFormControl"
      [errorStateMatcher]="matcher"
      #author
      maxlength="256"
      placeholder="Author"
    />
    <mat-error align="start" *ngIf="authorFormControl.hasError('required')">
      Author is <strong>required</strong>
    </mat-error>
    <mat-hint align="end">{{ author.value.length }} / 256</mat-hint>
  </mat-form-field>
  <mat-form-field class="add-new-full-width">
    <input
      matInput
      [formControl]="publicationFormControl"
      [errorStateMatcher]="matcher"
      #pubdate
      maxlength="256"
      placeholder="Publication date"
    />
    <mat-error
      align="start"
      *ngIf="publicationFormControl.hasError('required')"
    >
      Publication is <strong>required</strong>
    </mat-error>
    <mat-hint align="end">{{ pubdate.value.length }} / 256</mat-hint>
  </mat-form-field>
</form>
<button routerLink="/" type="button" class="btn btn-secondary">Back</button>
<button
  (click)="add(title.value, author.value, pubdate.value)"
  [disabled]="
    titleFormControl.hasError('required') ||
    authorFormControl.hasError('required') ||
    publicationFormControl.hasError('required')
  "
  type="submit"
  class="btn btn-success successButton"
>
  Save
</button>
