<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img
      src="/assets/book.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="logo"
    />
    BookShop
  </a>
</nav>
