$breakpoint-mobile: 1199px;
@media (min-width: $breakpoint-mobile) {
  .add-new-form {
    margin-top: 15px;
    min-width: 150px;
    max-width: 100%;
    width: 100%;

    .add-new-full-width {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  button {
    float: right;
    margin-top: 30px;
    width: 150px;
    height: 40px;
  }

  .successButton {
    margin-right: 10px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .add-new-form {
    margin-top: 15px;
    min-width: 150px;
    max-width: 100%;
    width: 100%;

    .add-new-full-width {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }
}
