$breakpoint-mobile: 1199px;
@media (min-width: $breakpoint-mobile) {
  .products-page-button {
    width: 200px;
  }

  .right-button {
    float: right;
  }

  .search-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;

    .search-width {
      width: 87%;
    }

    .search-button {
      width: 10%;
      min-width: 100px;
      float: right;
      margin-top: 10px;
    }
  }

  .product {
    border: solid 1px black;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
  }
}

@media (max-width: $breakpoint-mobile) {
  .products-page-button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .search-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    .search-width {
      width: 100%;
    }

    .search-button {
      width: 100%;
      height: 50px;
      margin-top: 10px;
    }
  }

  .product {
    border: solid 1px black;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
  }
}
