<h1>Products main page</h1>
<div class="row">
  <div class="col-xl">
    <button routerLink="/new" type="button" class="btn btn-success products-page-button">
      Add new
    </button>
  </div>
  <div class="col-xl">
    <button
      (click)="sortBooksByTitle()"
      type="button"
      class="btn btn-outline-primary products-page-button right-button"
    >
      Sort Asc by Title
    </button>
  </div>
  <div class="col-xl">
    <button
      (click)="sortBooksByAuthor()"
      type="button"
      class="btn btn-outline-primary products-page-button right-button"
    >
      Sort Asc by Author
    </button>
  </div>
</div>
<form (ngSubmit)="searchBooks(search.value)" class="search-form">
  <mat-form-field class="search-width">
    <input
      type="text"
      placeholder="Search..."
      aria-label="Search"
      matInput
      #search
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="btn btn-primary search-button" type="submit">
    Search
  </button>
</form>
<div class="d-none d-xl-block">
  <div class="row">
    <div class="col"><b>Title</b></div>
    <div class="col"><b>Author</b></div>
    <div class="col">
      <b>Publication date</b>
    </div>
  </div>
</div>
<div
  *ngFor="let book of books"
  [class.selected]="book === selectedBook"
  (click)="onSelect(book, $event)"
  class="product"
>
  <div *ngIf="book != selectedBook" class="d-xl-none row">
    <div class="col"><b>Title</b></div>
    <div class="col"><b>Author</b></div>
    <div class="d-none d-lg-block d-xl-none col">
      <b>Publication date</b>
    </div>
  </div>
  <div *ngIf="book != selectedBook" class="row">
    <div class="col text-break">{{ book.title }}</div>
    <div class="col text-break">{{ book.author }}</div>
    <div class="d-none d-lg-block col text-break">
      {{ book.publicationDate }}
    </div>
  </div>
  <div *ngIf="book === selectedBook">
    <app-product-detail [book]="selectedBook"></app-product-detail>
  </div>
</div>
