<div *ngIf="book">
  <div class="row center">
    <div class="col-12 col-xl-8">
      <h3 class="text-break">Title: <span class="right">{{ book.title | uppercase }}</span></h3>
      <h4 class="text-break">Author: <span class="right">{{ book.author | uppercase }}</span></h4>
      <h5 class="text-break">Publication date: <span class="right">{{ book.publicationDate | uppercase }}</span></h5>
    </div>
    <div class="col-12 col-xl-4 buttons">
      <button [routerLink]="['/update', book.id]" type="button" class="btn btn-warning button">Update</button>
      <button (click)="delete(book)" type="button" class="btn btn-danger button">Delete</button>
    </div>
  </div>
</div>
