$breakpoint-mobile: 1199px;
@media (min-width: $breakpoint-mobile) {
  .right {
    float: right;
    margin-left: 150px;
  }

  .buttons {
    text-align: center;
    margin: auto;
  }

  .button {
    width: 55%;
    margin-top: 10px;
  }
}

@media (max-width: $breakpoint-mobile) { 
  .right {
    float: right;
    margin-bottom: 15px;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }
}
